input[type=text] {
    padding: .4em;
}

/* Table 搜尋結果*/
.table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
    /* search */
}

.table th {
    font-size: 1.1em;
    padding: 10px 0 10px 10px;
    text-align: left;
    background-color: #468cb1;
    border-bottom: 1px solid black;
}

.table td {
    color: #222222;
    background-color: #e0e0e0;
    padding: 12px 0 12px 10px;
}

.table-striped tr:nth-child(even) td {
    background-color: #E1F9DC;
}

.table-hover tr:hover td {
    background-color: #cdeaf0;
}

/* ----------------------------- */
.content {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    margin-bottom: 20px;
    padding: 30px;
    border: solid 2px black;
    border-radius: 10px;
    position: relative;
}

.articleContent {
    width: 600px;
    height: 100%;
    padding: 20px;
    background-color: #e9e9e9;
    border: thin solid white;
    border-radius: 10px;
    color: black;
    position: relative;
}




.more {
    position: absolute;
    right: 35px;
    bottom: 1%;

}

.more a {
    color: rgba(0, 230, 64, 1);
}

.publish-time {
    color: gray;
    font-style: italic;
    font-size: 10px;
}


/* 文章刪除鍵 */
.delbtn {
    position: absolute;
    right: 0;
    bottom: 10px;
    border-radius: 50%;
    padding: 5px;
    transition: .5s;
}

.delbtn:hover {
    background-color: red;
}

.deleteConfirm {
    width: 50px;
    height: 50px;
    color: gray;
}

.deleteConfirm i {
    font-size: 25px;
}

/* 留言區 */
.big-commentWrapper {
    width: 600px;
    height: 100%;
}

.commentWrapper {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
}

.commentDiv {
    box-sizing: border-box;
}

.author {
    border: 1px solid red;
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
}

.container {

    word-wrap: break-all
}

.container .time {
    color: gray;
    font-size: 10px;
    font-style: italic;
}

.remove-comment {
    display: inline-block;
    padding: 0 10px;
    border-radius: 20px;
    background-color: rgba(228, 232, 235, 1);
}

.local-comment {
    position: relative;

}

.update-and-delete {
    display: flex;
    position: absolute;
    top: -30px;
    right: 300px;
}

.update-box {
    opacity: 0;
    position: relative;
}

.commentUpdate-btn {
    background-color: rgba(179, 227, 132, 1);
    border-radius: 20px;
    padding: 3px;
    color: white;
    position: absolute;
    top: 0;
    right: -40px;
}

.tool {
    margin-right: 10px;
    display: inline-block;
}

/* 留言傳送鍵 */
.fa-location-arrow {
    color: gray;
    font-size: 30px;
    transform: translate(10px, -20px);
    border: 1px solid gray;
    padding: 10px;
    border-radius: 50%;

}

.fa-location-arrow:hover {
    color: rgba(179, 227, 132, 1);
    border: greenyellow solid 1px;
    transition: 1s;
}

.my-comment {
    width: 80%;
    height: 50px;
}