 /* --------------電腦--------------- */
 @media screen and (min-width: 501px) {


     /* ----------------------------- */
     .content {
         background-color: transparent;
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     .wrapper {
         width: 100%;
         margin-bottom: 20px;
         padding: 30px;
         border: solid 2px black;
         border-radius: 10px;
         position: relative;
     }

     .articleContent {
         width: 600px;
         height: 100%;
         padding: 20px;
         background-color: #e9e9e9;
         border: thin solid white;
         border-radius: 10px;
         color: black;
         position: relative;
     }




     .more {
         position: absolute;
         right: 35px;
         bottom: 1%;
     }


     .publish-time {
         color: gray;
         font-style: italic;
         font-size: 10px;
     }


     /* 文章刪除鍵 */
     .delbtn {
         position: absolute;
         right: 0;
         bottom: 10px;
         border-radius: 50%;
         padding: 5px;
         transition: .5s;
     }

     .delbtn:hover {
         background-color: red;
     }

     .deleteConfirm {
         width: 50px;
         height: 50px;
         color: gray;
     }

     .deleteConfirm i {
         font-size: 25px;
     }

     /* 留言區 */
     .big-commentWrapper {
         width: 600px;
         height: 100%;
     }

     .commentWrapper {
         overflow: scroll;
         overflow-x: hidden;
         overflow-y: auto;
         height: 200px;
     }

     .commentDiv {
         box-sizing: border-box;
     }

     .author {
         border: 1px solid red;
         padding: 5px;
         border-radius: 20px;
         display: inline-block;
     }

     .container {

         word-wrap: break-all
     }

     .container .time {
         color: gray;
         font-size: 10px;
         font-style: italic;
     }

     .remove-comment {
         display: inline-block;
         padding: 0 10px;
         border-radius: 20px;
         background-color: rgba(228, 232, 235, 1);
     }



     /* 留言傳送鍵 */
     .fa-location-arrow {
         color: gray;
         font-size: 30px;
         transform: translate(10px, -20px);
         border: 1px solid gray;
         padding: 10px;
         border-radius: 50%;

     }

     .fa-location-arrow:hover {
         color: rgba(179, 227, 132, 1);
         border: greenyellow solid 1px;
         transition: 1s;
     }

     .my-comment {
         width: 80%;
         height: 50px;
     }
 }

 /* -------------手機---------------- */
 