.articleContent{
    padding: 20px;
    background-color: #e9e9e9;
    border: thin solid white;
    border-radius: 10px;
    color: black;
}

input[type=text]{
    padding: .4em;
}

/* Table */
.table{
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;/* search */
}

.table th{
    font-size: 1.1em;
    padding: 10px 0 10px 10px;
    text-align: left;
    background-color: #468cb1;
    border-bottom: 1px solid black;
}

.table td{
    color: #222222;
    background-color: #e0e0e0;
    padding: 12px 0 12px 10px;
}

.table-striped tr:nth-child(even) td{
    background-color: #E1F9DC;
}

.table-hover tr:hover td{
    background-color: #cdeaf0;
}