{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel='stylesheet' href="{% static 'article/css/article.css' %}">
<style>
    
    .container{
        height: 100vh;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
        margin-top: 20px;
        font-size: 30px;
    }
    .time{
        color: #DEDEDE;
        font-size: 10px;
    }
    .articleContent{
        margin-top: 20px;
        background-color: #fff;
        padding: 20px;
        width: 90%;
        border-radius: 10px;
        opacity: .7;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="title">{{ article.title }}</h3>
    {% if user.is_superuser %}
        <a class='btn inlineBlock' href="{% url 'article:articleUpdate' article.id %}">修改</a>
    {% endif %}
    <p class="time">發表時間：{{ article.pubDateTime|date:'Y-m-d H:i' }}</p>
    <div class="articleContent">{{ article.content|linebreaks }}</div>
</div>


     

{% endblock %}