{% extends 'main/base.html' %}
{% block title %}article{% endblock %}
{% load static %}
{% block css%}
    <link rel="stylesheet" href="{% static 'article/css/article.css' %}">
    <link rel="stylesheet" href="{% static 'article/css/likes.css' %}">
{% endblock %}
{% block heading %}Article{% endblock %}

{% block content %}
{% include 'article/searchForm.html' %}

{% if user.is_superuser %}
    <p><a class="btn" href="{% url 'article:articleCreate' %}">新增文章</a></p>
{% endif %}

{% for article,comments in articles.items %}
<div class="wrapper">
    <h3 class="article-title">{{ article.title }}</h3>

{% if user.is_superuser %}
    <!-- 刪除鍵 -->
    <form class="delbtn" method="POST" action="{% url 'article:articleDelete' article.id %}">
        {% csrf_token %}
        <!-- <input class=" deleteConfirm " type="submit" value="X"> -->
        <button class="deleteConfirm"  type="submit"><i class="fas fa-trash-alt"></i></button>
    </form>
{% endif %}
    <pre class="publish-time">Publish-Time：{{ article.pubDateTime| date:'Y-m-d H:i' }}</pre>
    <!-- <div class='articleContent'>{{ article.content|linebreaks|truncatechars_html:150 }}</div> -->
    <div class='articleContent'>
        <!-- 文章內容 -->
        {{ article.content|linebreaks|truncatechars_html:100}}
        <p class="more"><a href="{% url 'article:articleRead' article.id %}">More...</a></p>
    </div>

     <!-- 愛心 -->
    <p class="like">
        {% if user.is_authenticated %}
            <a href="{% url 'article:articleLike' article.id %}" >
                <i id="not-like" class="far fa-heart"></i>    
                <i class="fas fa-heart yes-like"></i>
            </a>
           
            <p class="likes-count"></p>{{ article.likes.count }}</p>
  
        {% endif %}
    </p>

    <!-- 留言區 -->
    <div class="big-commentWrapper">
    <div class="commentWrapper">
        {% for comment in comments %}
            <div class="commentDiv">  
                <span class="author">{{ comment.user.fullName }} </span>
                {% if comment.user != user %}
                    <div class="container">
                        <div class='remove-comment'>
                            {{ comment.content | linebreaksbr |ljust:"10"}}
                        </div>   
                        <span class='time'>{{ comment.pubDateTime|date:'m/d H:i' }}</span>
                    </div>
                {% else %}
                    <div class="container">
                        <form method="post" action="{% url 'article:commentUpdate' comment.id %}">
                            {% csrf_token %}
                            <div class="local-comment">
                                {{ comment.content | linebreaksbr |ljust:"10"}}
                                <div class="update-and-delete">
                                    <i class="fas fa-wrench tool"></i>
                                    <div class="update-box">
                                        <textarea class="commentUpdate-input" type="text" name='comment' placeholder='{{ comment.content }}'></textarea>
                                        <!-- <input class="commentUpdate-btn" type="submit" value="修改"> -->
                                        <button class="commentUpdate-btn" type="submit">save</button>
                                    </div>
                                    <form action="{% url 'article:commentDelete' comment.id %}">
                                        {% csrf_token %}
                                        <input type="submit" class="btn" value="刪除">
                                    </form>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                {% endif %}
                <br>
                
            </div>
        {% endfor %}
        </div>
    </div>

    {% if user.is_authenticated %}
    <br>
    <form method="post" action="{% url 'article:commentCreate' article.id %}">
        {% csrf_token %}
        <textarea class='my-comment' name="comment" placeholder="留言"></textarea>
        <!-- <input class="btn" type="submit" value="送出"> -->
        <button  type="submit"><i class="fas fa-location-arrow"></i></button>
    </form>
    <br><br>
    {% endif %}
</div>

{% endfor %}
<hr>
{% endblock %}

{% block script %}
    <script src='{% static "main/js/deleteConfirm.js" %}'></script>  
    <script src='{% static "main/js/tool-click.js" %}'></script>
    <script src='{% static "main/js/likes-toggle.js" %}'></script>
{% endblock %}