{% extends 'main/base.html' %}
{% load static %}
{% block title %}about{% endblock %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap" rel="stylesheet">
{% block css%}
<style>

.container{
    height: 100vh;
  
}

.info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.info{
    font-size: 20px;
    color: #444545;
    margin-top: 2em;
}
/*------------------PC、iPad-------------------*/
@media screen and (min-width: 501px) {
    .container{
        width: 60%;
        margin: 0 auto;
    }
    .info-box{
        width: auto;
        height: 100%;
        border-radius: 30px;
        padding: 40px;
    }
    .info{
        width: 900px;
        color: #444545;
    }
}
/*-----------------手機-----------------*/
@media screen and (max-width: 500px) {
    .container{
        overflow: hidden;
    }

    .info-box{
        margin-top: 30%;
        color: #444545;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }
    .info{
        padding: 10px;
        background-color: #DEDEDE;
        border-radius: 10px;
        margin-top: 3em;
    }
}
/*--------------電腦----------------*/
</style>
{% endblock %}
<div class="container">
    <div class="info-box"> 
        <img class='about-text' src="{% static "main/img/about.png" %}" alt="關於-書法">
        <span class="info">
            哩剛齋，取自台語諧音 “你知道嗎？” <br>
            原本是應付 SIRLA 內部 Django專案的實驗網站。 <br>
            後來想想，竟然都部署了，那乾脆版面也切一切，
            這個勉強能跑的網站就誕生了。
        </span>
    </div>
</div>
{% endblock %}