<!DOCTYPE html>
{% load static %}
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>about</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    </head>
    <body>
      
        {% include 'main/navbar.html' %}
        <h1>About</h1>
        <p>welcome to my blog, you can read my articles here! </p>
        <script src="" async defer></script>
    </body>
</html>