{% extends 'main/base.html' %}
{% block title %}首頁{% endblock %}
{% load static %}
{% block heading %}

{% endblock %}

{% block content %}


   <div class="container">
        <div class="photo-banner">
                <img class="banner" src="https://images.pexels.com/photos/1061623/pexels-photo-1061623.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="banner">
                <img class="ligunjei" src="{% static "main/img/ligunjei.png" %}" alt="ligunjei">
        </div>

        <footer>
            <ul>
                <li><a href="">LIS Bunny</a></li>
                <li><a href="">Sirla</a></li>
                <li><a href="{% url 'main:privacy' %}">隱私權政策</a></li>
                <li><a href="">&copy ligun all right reserve</a></li>
            </ul>
        </footer>
    </div>
{% endblock %}