{% extends 'main/base.html' %}
{% block title %}首頁{% endblock %}
{% load static %}
{% block heading %}

{% endblock %}

{% block img %}
    <img class="ligunjei" src="{% static "main/img/ligunjei.png" %}" alt="ligunjei">
{% endblock %}

{% block content %}
   <div class="container">
       

        <footer>
            <ul>
                <li><a href="">LIS Bunny</a></li>
                <li><a href="">Sirla</a></li>
                <li><a href="{% url 'main:privacy' %}">隱私權政策</a></li>
                <li><a href="">&copy ligun all right reserve</a></li>
            </ul>
        </footer>
    </div>
{% endblock %}