<!DOCTYPE html>
{% load static %}
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>navbar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'main/css/navbar.css' %}">
    </head>
    <body>

        <!-- <ul id='navbar'>
            <li><a href="{% url 'main:main' %}">首頁</a></li>
            <li><a href="{% url 'main:about' %}">關於</a></li>
            <li><a href="{% url 'article:article' %}">哩哩摳摳</a></li>
            
            {% if user.is_authenticated %}
                <li><a href="{% url 'account:logout' %}">登出</a></li>
            {% else %}
                <li><a href="{% url 'account:register' %}">註冊</a></li>
                <li><a href="{% url 'account:login' %}">登入</a></li>
            {% endif %}
        </ul> -->

                <!-- navbar -->
                <div class="fixed">
                    <input type="checkbox" id="switch">
                
                    <div class="sides-bar">
                        <label for="switch">
                            <i class="fas fa-angle-right"></i>
                        </label>
                        <ul id='navbar'>
                            <li><a href="{% url 'main:main' %}">首頁</a></li>
                            <li><a href="{% url 'main:about' %}">關於</a></li>
                            <li><a href="{% url 'article:article' %}">哩哩摳摳</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'account:logout' %}">登出</a></li>
                            {% else %}
                            <li><a href="{% url 'account:register' %}">註冊</a></li>
                            <li><a href="{% url 'account:login' %}">登入</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
       
    </body>
</html>