* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Helvetica;
    text-decoration: none;
}

body {
    background-color: black;
    color: aliceblue;
}

#navbar {
    display: flex;
    width: 100%;
    background-color: #fff;

}

#navbar a {
    color: black;
    display: block;
    transition: .5s;
    font-size: 20px;
    margin-left: 1em;
}

#navbar a:hover {
    background-color: black;
    color: #fff;
}

.commentDiv{
    width: 300px;
    background-color: #444545;
    border: 1px solid transparent;
    font-size: 12px;
}

ul #menu li{
    display: inline-block;
}

.btn{
    display: inline-block;
    color: #444545;
    font-size: .8em;
    padding: .5em 1em;
    text-decoration: none;
    border: thin solid gray;
    background: linear-gradient(#f7f7f7,#dedede);
    font-family:  Helvetica;
    border-radius: 10px;
}

/* Messages */
.success, 
.error{
    padding: 1em 0 3em;
}
.success{
    background-color: greenyellow;
    border: thin solid green;
}
.error{
    background-color: #fbd9d8;
    border: thin solid red;
}