* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Helvetica;
    text-decoration: none;

}

body {
    color: black;
    height: 100%;
}



ul #menu li {
    display: inline-block;
}

button,
i {
    background-color: transparent;
    border: transparent;
}

.btn {
    display: inline-block;
    color: #444545;
    font-size: .8em;
    padding: .5em 1em;
    text-decoration: none;
    border: thin solid gray;
    background: linear-gradient(#f7f7f7, #dedede);
    font-family: Helvetica;
    border-radius: 10px;
}

/* Messages */
.success,
.error {
    border: 1px solid transparent;
    border-radius: 20px;
    width: 100px;
    height: 20px;
    text-align: center;
    position: absolute;
    left: 100%;
    transform: translate(-110%, 0);
    z-index: 20;
    color: #dedede;
}

.success {
    background-color: greenyellow;

}

.error {
    background-color: #fbd9d8;

}

#navbar {
    display: flex;
    background-color: #fff;
    position: fixed;
    z-index: 100;
}

/* ----------------------footer--------------------- */
footer {
    width: 100%;
    position: fixed;
    transform: translateY(-100%);
    z-index: 100;
}

footer ul {
    display: flex;
    justify-content: center;
    background-color: transparent;

}

footer li {
    margin-right: 10px;
    transition: 1s;
}

footer a {
    color: #444545;
}

footer li:hover {
    transform: translateY(-10px);
}

footer li:nth-child(3):hover {
    transform: translateY(0px);
}

/* ------------------手機------------------ */
@media screen and (max-width: 500px) {
    .contain {
        height: 100vh;
    }

    .photo-banner {
        height: 100vh;
        background-color: red;
    }

    .photo-banner img:first-child {
        width: 100%;
        height: 100vh;
    }

    .ligunjei {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
    }

    /* ---------------footer on cellphone--------------- */
    footer {
        background-color: transparent;
        width: auto;
        font-size: 12px;
        flex-direction: row;
    }

}

/* ----------------電腦------------------- */
@media screen and (min-width: 501px) {


    .photo-banner {
        background-color: blue;
        width: 100%;
        height: 100vh;
    }

    .photo-banner img {
        width: 100%;
        height: 100vh;
    }

    .ligunjei {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
    }




}