* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Helvetica;
    text-decoration: none;
}

body {
    background-color: black;
    color: aliceblue;
}

#navbar {
    display: flex;
    width: 100%;
    background-color: #fff;

}

#navbar a {
    color: black;
    display: block;
    transition: .5s;
    font-size: 20px;
    margin-left: 1em;
}

#navbar a:hover{
    background-color: black;
    color: #fff;
}