* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Helvetica;
    text-decoration: none;

}

body {
    color: black;
    height: auto;
    background: url('https://images.pexels.com/photos/1061623/pexels-photo-1061623.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') right bottom;
    background-repeat: repeat-x;
    

}

/* button,
i {
    background-color: transparent;
    border: transparent;
} */

.btn {
    display: inline-block;
    color: white;
    font-size: .8em;
    padding: .5em 1em;
    text-decoration: none;
    border: thin solid transparent;
    background-color: rgba(46, 204, 113, 1);
    font-family: Helvetica;
    border-radius: 10px;
}

/* 
#switch:checked+.container {
    transform: translateX(-100%);
} */

/* Messages */
.success,
.error {
    border: 1px solid transparent;
    border-radius: 20px;
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    z-index: 20;
    color: #dedede;
}

.success {
    background-color: rgba(46, 204, 113, 1);

}

.error {
    background-color: rgba(240, 52, 52, 1);

}