.fixed {
    position: fixed;
    z-index: 100;
    right: 10px;
}

.sides-bar {
    color: aliceblue;
    width: auto;
    background-color: #fff;
    border: 1px solid #444545;
    border-radius: 10px;
    height: auto;
    position: relative;
    transform: translateX(0);
    transition: .3s;
}

.sides-bar label {
    color: black;
    position: absolute;
    left: 10px;
    bottom: -55px;
}

#switch {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

label .fas {
    font-size: 40px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #444545;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #444545;
    padding: 10px;
    display: block;
    transform: rotate(90deg);
}

#switch:checked+.sides-bar {
    transform: translateY(-100%);
}


#switch:checked>label .fas {
    transform: rotate(60deg);
}


.sides-bar a {
    font-size: 20px;
    color: #444545;
    margin: 0 10px;
    transition: .5s;
}

.sides-bar a:hover{
    color: black;
} 

.bar-item {
    font-size: 20px;
    padding: 10px 0px;
}