.fixed {
    position: fixed;
    z-index: 100;
}

.sides-bar {
    color: aliceblue;
    width: auto;
    background-color: transparent;
    height: auto;
    position: relative;
    transform: translateX(0);
    transition: .3s;
}

.sides-bar label {
    color: black;
    line-height: 50px;
    width: 50px;
    position: absolute;
    right: -100px;
    top: 20px;
}

#switch {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

label .fas {
    font-size: 40px;
    position: absolute;
    top: -25px;
    left: -40px;
    color: #444545;
    background-color: red;
    display: block;
}

#switch:checked+.sides-bar {
    transform: translateX(-100%);
}

/* fas 翻轉
#switch:checked .fas { 
    transform: scale(60deg);
} */


.sides-bar a {
    font-size: 20px;
    color: #444545;
    padding-top: 1em;
    margin-left: 1em;
}

.bar-item {
    font-size: 20px;
    padding: 10px 0px;


}